# Python
__pycache__/
*.pyc

# Data
# ignore specific and variant drone data folders
drone_data*
*.csv
*.parquet
*.pt
*.pth
*.npz
*.png

# IDE
.vscode/
.idea/

# Python virtual env
.venv/
.venv_drone/
.venv*

# System
.DS_Store
Thumbs.db
